h2{
    text-decoration: underline;
}

.classements {
    padding: 25px 50px;
}

.classements > h1{
    padding: 16px;
}

.classements table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    width: 100%;
}

  th,
  td {
    padding: 10px 20px;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #009FE3;
  }
  
  tbody tr:nth-child(even) {
    background-color: #177AB4;
  }