.videos{
    margin: 10% 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;

    background-color: #F7CD00;
    padding: 5em 0;
}


.video {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.video h1 {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.videoContenue {
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
}

@media (width < 1400px) {
    .videoContenue {
        gap: 25px;
        flex-direction: column;
        align-items: center;
    }
}